<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerImage</key>
		<string>header</string>
		<key>time</key>
		<string>刚刚</string>
		<key>subTitle</key>
		<string>吃饭了吗？</string>
		<key>title</key>
		<string>小明</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>上午10:00</string>
        <key>subTitle</key>
        <string>我给你发了条消息</string>
        <key>title</key>
        <string>小花</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>上午9:23</string>
        <key>subTitle</key>
        <string>这是一条假消息</string>
        <key>title</key>
        <string>小刚</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>上午8:02</string>
        <key>subTitle</key>
        <string>Good Morning</string>
        <key>title</key>
        <string>Jack</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>上午7:49</string>
        <key>subTitle</key>
        <string>我做了个APP</string>
        <key>title</key>
        <string>明日边缘</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>上午6:30</string>
        <key>subTitle</key>
        <string>晚上一起玩LOL</string>
        <key>title</key>
        <string>大哥</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>昨天</string>
        <key>subTitle</key>
        <string>ABCDEFGHIJKLMN</string>
        <key>title</key>
        <string>天边云彩</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>8月21日</string>
        <key>subTitle</key>
        <string>1234567890</string>
        <key>title</key>
        <string>dog</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>2015-01-09</string>
        <key>subTitle</key>
        <string>...</string>
        <key>title</key>
        <string>Lewin</string>
    </dict>
    <dict>
        <key>headerImage</key>
        <string>header</string>
        <key>time</key>
        <string>2010-10-23</string>
        <key>subTitle</key>
        <string>666</string>
        <key>title</key>
        <string>Jerry</string>
    </dict>
</array>
</plist>
